$color-white: #FFFFFF;
$color-white-shadow:#F7F7F7;

$color-black: #000000;
$color-black-shadow: #13253B;

$color-light-blue: #07ACE629;
$color-primary: #3498db; 
$color-primary-shadow: #2980b9;

$color-light-grey: #f0f0f0;
$color-lighter-grey: #E8E9ED;
$color-grey: #A5A5A5;
$color-light-grey-shadow: #95989A;
$color-dark-grey: #707070;

$color-primary-red: #FB3B64;
$color-redish: #EB476E;

$color-green: #55DFB4;

$color-pink: #F9043629;
$color-pink-shadow: #FF091129;

